<nav>
    <div class="logo">
        <h2>Campus</h2>
    </div>
    <div class="search">
        <input type="search" name="usearch" id="">
        <button type="submit">Search</button>
    </div>
    <div class="nav_links">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'pre-vendor-signup' %}">Become Vendor</a></li>
            {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>