{% extends 'users/base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
   {% if user.is_authenticated %}
   <h2>Welcome <span>{{ user.username }}</span></h2>
   {% endif %}
<h1>Home Page</h1>
 {% for product in products %}
    <img src="{{product.image.url}}" alt="" width="100px" height="200px"><br>
    <p><a href="">{{product.product_shop}}</a></p>
    <h4>Name: {{ product.name}}</h4>
    <p>Category : {{product.category}}</p>
    <p>Description : {{product.description}}</p>
    <p>Price : Ksh {{product.price}}</p>
 {% endfor%}

{% endblock %}